* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}
.nav-list {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo a {
  text-decoration: none;
  font-size: 32px;
  font-style: italic;
  color: black;
  font-weight: 900;
}
#form {
  width: 100%;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#form i {
  font-size: 28px;
  margin-top: 8px;
}

#form input {
  width: 85%;
  padding: 10px;
  font-size: 22px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.nav-list li:nth-child(2) {
  display: flex;
  width: 50%;
}

.nav-list li:nth-child(3) button:hover {
  color: black;
  font-weight: 700;
  border-bottom: 5px solid black;
}

.login {
  border: none;
  background-color: white;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.login a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: gray;
}
.signup {
  border: none;
  background-color: white;
  margin-right: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.signup a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: gray;
}
.nav-list li:nth-child(3) button i {
  padding-right: 6px;
}
.nav-list li:nth-child(3) button:hover i {
  color: black;
}
.login-modal {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  top: 15vh;
  left: 35vw;
  height: 70vh;
  position: fixed;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
}
.login-modal > h2 {
  padding-top: 3vh;
  text-align: center;
  margin-bottom: 30px;
}
.login-modal input[type="text"],
.login-modal input[type="password"] {
  width: 80%;
  display: block;
  padding: 8px 12px;
  margin: auto;
  border: 1px solid gray;
  margin-top: 8px;
  border-radius: 5px;
  /* outline: #ea4335; */
  font-size: 18px;
}
.login-modal div + label {
  margin-top: 22px;
  display: block;
  margin-left: 52px;
}
.login-modal button {
  width: 80%;
  display: block;
  width: 80%;
  display: block;
  padding: 8px 12px;
  margin: auto;
  position: relative;
  margin-top: 8px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
}

.google {
  width: 80%;
  border: 1px solid gray;
  margin: auto;
  padding: 8px 12px;

  text-align: center;
  border-radius: 5px;
}
.google span:nth-child(2) {
  margin-left: 22px;
}
.horizontal {
  margin-top: 30px;
}
.or {
  margin: auto;
  margin-top: 18px;
  text-align: center;
  font-size: 22px;
  width: 5%;
  position: relative;
  top: -37px;
  background-color: white;
}
.cross {
  font-size: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: black;
}

.google + div {
  position: absolute;
  bottom: 0;
  left: 8px;
}

/* SIGNUP MODAL  */
.signup-modal {
  display: flex;
  display: none;
  width: 72%;
  margin: auto;
  border-radius: 10px;
  margin-top: 8vh;
  position: fixed;
  left: 14vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  z-index: 999;
}

.signup-modal > div:nth-child(1) {
  width: 45%;
  height: 70vh;
}
.signup-modal div:nth-child(2) {
  width: 55%;
  height: 70vh;
}
.signup-modal img {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
.signup-div {
  width: 100%;
}
.signup-div h2 {
  text-align: center;
  margin-bottom: 32px;
}

.signup-div > input {
  display: block;
  width: 75%;
  margin: auto;
  padding: 8px 8px;
  margin-top: 12px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
}
#signupInput {
  margin-bottom: 18px;
}
.signup-btn {
  display: block;
  width: 75%;
  display: block;
  padding: 8px 12px;
  margin: auto;
  position: relative;
  margin-top: 8px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 5px;
}
#signupPassCheckbox {
  margin-left: 62px;
}
.google-2 {
  width: 75%;
}
.toggle-login {
  display: block;
}
.toggle-signup {
  display: flex;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 200;
  display: none;
}

/* IMAGE 1 */
.image-1 {
  position: relative;
}
.image-1 > div:nth-child(2) {
  position: absolute;
  top: 60vh;
  left: 33vw;
}

.image-1 > div:nth-child(2) button {
  width: 200px;
  margin-top: 20px;
  padding: 8px 12px;
  color: white;
  background-image: linear-gradient(to right, #000000, #333333);
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.image-1 > div:nth-child(2) button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right, #333333, #666666);
}
.image-1 > div:nth-child(2) h1 {
  font-size: 52px;
  color: #333333;
  font-weight: bolder;

  font-family: "Montserrat", sans-serif;
}
.image-1 > div:nth-child(2) p {
  font-size: 24px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.story {
  position: relative;
  transition: all 0.5s;
}

.story div {
  position: absolute;
  top: 8vw;
  left: 3vw;
  opacity: 0;
  transition: opacity 0.5s ease-out, top 0.7s ease-out, left 0.7s ease-out;
}
.story:hover div {
  opacity: 1;
  top: 10vw;
  left: 5vw;
}

.story > div h1 {
  font-size: 52px;
  color: #333333;
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;

  font-weight: bolder;
}
.story > div h1 > span {
  color: black;
}

.story > div p {
  font-size: 18px;
  color: black;
  width: 44%;
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

.story > div button {
  width: 200px;
  margin-top: 20px;
  padding: 8px 12px;
  color: white;
  background-image: linear-gradient(to right, #000000, #333333);
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.story > div button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right, #333333, #666666);
}
/* Styles for small mobile screens  */
@media (max-width: 320px) {
  .logo > a {
    font-size: 12px;
  }
  .nav-bar {
    height: 6vh;
  }
}
/* CAROUSEL */
.carousel-img1 {
  position: relative;
  z-index: -999;
}

.carousel-img1 div {
  text-align: center;
  position: absolute;
  top: 41vh;
  left: 25vw;
}
.carousel-img1 div p:nth-child(1) {
  font-family: "Dancing Script", cursive;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 12px;
  color: #f79206;
}
.carousel-img1 div p:nth-child(2) {
  font-size: 90px;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}
.carousel-img1 div p:nth-child(3) {
  font-size: 50px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  color: white;

  font-weight: 700;
}
.carousel-img2 {
  position: relative;
}
.carousel-img2 > div {
  position: absolute;
  top: 15vh;
  left: 16vw;
}
.carousel-img2 > div > p {
  font-size: 80px;
  line-height: 70px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.carousel-img2 > div > p:nth-child(2) {
  color: #f79206;
}
.carousel-img2 > div > p:nth-child(4) {
  margin-top: 32px;
  font-size: 18px;
  color: white;
  width: 40%;
  font-family: "Rubik", sans-serif;
  line-height: 32px;
}
.carousel-img3 {
  position: relative;
}
.carousel-img3 > div {
  position: absolute;

  width: 45%;
  top: 10vh;
  right: 12vw;
  text-align: right;
  color: white;
}
.carousel-img3 > div > p:nth-child(1) {
  font-size: 50px;
  color: white;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
}
.carousel-img3 > div > h1 {
  font-size: 65px;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}
.carousel-img3 > div > h1 > span {
  color: #f79206;
}
.carousel-img3 > div > p:nth-child(3) {
  font-size: 28px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.carousel-img3 > div > p:nth-child(4) {
  width: 90%;
  margin-left: auto;
  color: white;
  font-family: "Rubik", sans-serif;
}

/* CAROUSEL */

/* MENU CARDS */
.menu-carousel {
  background: linear-gradient(to bottom, #2c2c2c, #000000);
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu-card {
  text-align: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
a[href="../frontend/menu.html"] {
  text-decoration: none;
}
/* MENU CARDS */
/* MID */
.mid {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #000000, #2c2c2c);
  padding-bottom: 120px;
}

.mid-content {
  position: absolute;
  top: 35%;
  left: 3%;
  transform: translateY(-50%);
  width: 50%;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.mid:hover .mid-content {
  opacity: 1;
}

.mid img {
  position: relative;
  display: block;
  width: 70%;
  transition: transform 0.5s ease-in-out;
}

.mid:hover img {
  transform: translateX(55%);
}
.mid-content > h1 {
  font-size: 60px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.mid-content > h1 > span {
  color: #f79206;
}
.mid-content > p {
  font-size: 18px;
  color: white;
  font-family: "Rubik", sans-serif;
}
.mid-content button {
  width: 30%;
  padding: 8px 12px;
  margin-top: 32px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

/* MID */

/* MID-2 */
.mid2 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #2c2c2c, #000000);
  padding-top: 120px;
}

.mid2 img {
  position: relative;
  display: block;
  margin-left: 30%;
  width: 50%;
  transition: transform 0.5s ease-in-out;
}

.mid2:hover img {
  transform: translateX(-60%);
}

.mid-content2 {
  position: absolute;
  top: 50%;
  right: -6%;
  transform: translateY(-50%);
  width: 50%;
  padding: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.mid2:hover .mid-content2 {
  opacity: 1;
}

.mid-content2 > h1 {
  font-size: 60px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.mid-content2 > h1 > span {
  color: #f79206;
}

.mid-content2 > p {
  font-size: 18px;
  color: white;
  font-family: "Rubik", sans-serif;
}

.mid-content2 button {
  width: 30%;
  padding: 8px 12px;
  margin-top: 32px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
/* MID2  */
/* Footer Styles */
.footer {
  background-color: black;
  color: #fff;
  padding: 60px 0;
  font-size: 14px;
}
.footer h3 {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer p {
  margin-bottom: 30px;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons li:last-child {
  margin-right: 0;
}
.social-icons a {
  color: #fff;
  font-size: 20px;
}
.opening-hours {
  list-style: none;
  margin: 0;
  padding: 0;
}
.opening-hours li {
  margin-bottom: 10px;
}
.opening-hours li span {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}
.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-info li {
  margin-bottom: 10px;
}
.contact-info i {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}
.footer-bottom {
  background-color: #222;
  padding: 20px 0;
  font-size: 12px;
}
.footer-bottom p {
  margin: 0;
}
.footer-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer-bottom li {
  display: inline-block;
  margin-left: 20px;
}
.footer-bottom li:first-child {
  margin-left: 0;
}
.footer-bottom a {
  color: #fff;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
.form-inline input[type="email"] {
  width: 70%;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  border: none;
  font-size: 14px;
  color: #777;
}
.form-inline button[type="submit"] {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  cursor: pointer;
}
.form-inline button[type="submit"]:hover {
  background-color: #343a40;
}
/* Styles for standard mobile screens  */
@media (min-width: 321px) and (max-width: 767px) {
}

/* Styles for small tablets  */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Styles for standard tablets and smaller laptops  */
@media (min-width: 992px) and (max-width: 1199px) {
}
