* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}
.nav-list {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo a {
  text-decoration: none;
  font-size: 32px;
  font-style: italic;
  color: black;
  font-weight: 900;
}
#form {
  width: 100%;
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#form i {
  font-size: 28px;
}

#form input {
  width: 90%;
  padding: 10px;
  font-size: 22px;
  border: none;
  outline: none;
}
.nav-list li:nth-child(2) {
  display: flex;
  width: 50%;
}
.login {
  border: none;
  background-color: white;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 24px;
}
.signup {
  border: none;
  background-color: white;
  margin-right: 20px;
  font-size: 24px;
}
.hamburger {
  margin-left: 32px;
  font-size: 22px;
}

.login-modal {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30%;
  top: 15vh;
  left: 35vw;
  height: 70vh;
  position: fixed;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
}
.login-modal > h2 {
  padding-top: 3vh;
  text-align: center;
  margin-bottom: 30px;
}
.login-modal input[type="text"],
.login-modal input[type="password"] {
  width: 80%;
  display: block;
  padding: 8px 12px;
  margin: auto;
  border: 1px solid gray;
  margin-top: 8px;
  border-radius: 5px;
  /* outline: #ea4335; */
  font-size: 18px;
}
.login-modal div + label {
  margin-top: 22px;
  display: block;
  margin-left: 52px;
}
.login-modal button {
  width: 80%;
  display: block;
  width: 80%;
  display: block;
  padding: 8px 12px;
  margin: auto;
  position: relative;
  margin-top: 8px;
  background-color: rgb(239, 79, 95);
  border: none;
  color: white;
  border-radius: 5px;
}

.google {
  width: 80%;
  border: 1px solid gray;
  margin: auto;
  padding: 8px 12px;

  text-align: center;
  border-radius: 5px;
}
.google span:nth-child(2) {
  margin-left: 22px;
}
.horizontal {
  margin-top: 30px;
}
.or {
  margin: auto;
  margin-top: 18px;
  text-align: center;
  font-size: 22px;
  width: 5%;
  position: relative;
  top: -37px;
  background-color: white;
}
.cross {
  font-size: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: black;
}

.google + div {
  position: absolute;
  bottom: 0;
  left: 8px;
}

/* SIGNUP MODAL  */
.signup-modal {
  display: flex;
  display: none;
  width: 72%;
  margin: auto;
  border-radius: 10px;
  margin-top: 8vh;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  z-index: 2;
}

.signup-modal > div:nth-child(1) {
  width: 45%;
  height: 70vh;
}
.signup-modal div:nth-child(2) {
  width: 55%;
  height: 70vh;
}
.signup-modal img {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
.signup-div {
  width: 100%;
}
.signup-div h2 {
  text-align: center;
  margin-bottom: 32px;
}

.signup-div > input {
  display: block;
  width: 75%;
  margin: auto;
  padding: 8px 8px;
  margin-top: 12px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
}
#signupInput {
  margin-bottom: 18px;
}
.signup-btn {
  display: block;
  width: 75%;
  display: block;
  padding: 8px 12px;
  margin: auto;
  position: relative;
  margin-top: 8px;
  background-color: rgb(239, 79, 95);
  border: none;
  color: white;
  border-radius: 5px;
}
#signupPassCheckbox {
  margin-left: 62px;
}
.google-2 {
  width: 75%;
}
.toggle-login {
  display: block;
}
.toggle-signup {
  display: flex;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
  display: none;
}
/* Styles for small mobile screens  */
@media (max-width: 320px) {
  .logo > a {
    font-size: 12px;
  }
  .nav-bar {
    height: 6vh;
  }
}

/* Styles for standard mobile screens  */
@media (min-width: 321px) and (max-width: 767px) {
}

/* Styles for small tablets  */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Styles for standard tablets and smaller laptops  */
@media (min-width: 992px) and (max-width: 1199px) {
}
