* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  display: flex;
}
.logo > a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-style: italic;
  font-weight: 900;
  font-size: xx-large;
  color: black;
}
